.walmark-product-card {
    margin: 0 0 10px 10px;
}

.walmark-product-card-discount {
    color: white;
    background-color: red;
}

.walmark-product-card-discount-price {
    text-decoration: line-through;
    color: grey;
}
