.walmark-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

.walmark-loading-image {
    display: block; 
    margin-top: 15%; 
    margin-left: auto; 
    margin-right: auto; 
} 